/**
 * Variables
 */
$font-size: 16px;
$font-family: 'IBM Plex Sans', sans-serif;
$page-width: 960px;

$color-text: #254440;
$color-primary: #007bfe;
$color-secondary: #718096;
$color-on-primary: #fff;
$color-border: #e0e7ee;